@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
  font-family: "Montserrat", sans-serif;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.roboto-slab {
  font-family: "Roboto Slab", sans-serif;
}

.fira-sans {
  font-family: "Fira Sans", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.bg-teal-80 {
  background-color: #e8fffa;
}

.bg-teal-120 {
  background-color: #b9fff0;
}

.top-1-5 {
  top: 20%;
}

.top-2-5 {
  top: 39%;
}

.top-9-10 {
  top: 90%;
}

.right-76 {
  right: 19rem;
}

.-left-192 {
  left: -40rem;
}

.size-237 {
  width: 60rem;
  height: 60rem;
}

.h-102 {
  height: 29rem;
}

.p-1-5 {
  padding: 0.375rem;
}

.custom-offset::before {
  content: '';
  display: block;
  height: 68px;
  margin-top: -68px;
}

.custom-left-middle {
  left: calc(50% - 64px);
}

.size-custom {
  width: 48rem;
  height: 48rem;
}

.custom-btn-shadow {
  box-shadow: -2px 2px 0px 0px #0f172a;
  -webkit-box-shadow: -2px 2px 0px 0px #0f172a;
  -moz-box-shadow: -2px 2px 0px 0px #0f172a;

  transition: all 0.1s;
}

.custom-btn-shadow:hover {
  box-shadow: 0px 0px 0px 0px #0f172a;
  -webkit-box-shadow: 0px 0px 0px 0px #0f172a;
  -moz-box-shadow: 0px 0px 0px 0px #0f172a;

  transition: all 0.3s;
}

.custom-btn-shadow-reverse {
  box-shadow: 2px 2px 0px 0px #0f172a;
  -webkit-box-shadow: 2px 2px 0px 0px #0f172a;
  -moz-box-shadow: 2px 2px 0px 0px #0f172a;

  transition: all 0.1s;
}

.custom-btn-shadow-reverse:hover {
  box-shadow: 0px 0px 0px 0px #0f172a;
  -webkit-box-shadow: 0px 0px 0px 0px #0f172a;
  -moz-box-shadow: 0px 0px 0px 0px #0f172a;

  transition: all 0.3s;
}

.custom-btn-shadow-t {
  box-shadow: -2px 2px 0px 0px #0f766e;
  -webkit-box-shadow: -2px 2px 0px 0px #0f766e;
  -moz-box-shadow: -2px 2px 0px 0px #0f766e;

  transition: all 0.1s;
}

.custom-btn-shadow-t:hover {
  box-shadow: 0px 0px 0px 0px #0f766e;
  -webkit-box-shadow: 0px 0px 0px 0px #0f766e;
  -moz-box-shadow: 0px 0px 0px 0px #0f766e;

  transition: all 0.3s;
}

.custom-btn-shadow-t-reverse {
  box-shadow: 2px 2px 0px 0px #0f766e;
  -webkit-box-shadow: 2px 2px 0px 0px #0f766e;
  -moz-box-shadow: -2px 2px 0px 0px #0f766e;

  transition: all 0.1s;
}

.custom-btn-shadow-t-reverse:hover {
  box-shadow: 0px 0px 0px 0px #0f766e;
  -webkit-box-shadow: 0px 0px 0px 0px #0f766e;
  -moz-box-shadow: 0px 0px 0px 0px #0f766e;

  transition: all 0.3s;
}

.custom-lg-vh {
  height: fit-content;
}

.custom-bubble-shadow-mobile::before {
  content: '';
  position: absolute;
  top: -40px;
  /* Ajusta este valor para mover la sombra arriba del elemento */
  left: -20px;
  width: calc(100% + 270px);
  height: calc(100% + 270px);
  background: #0f766d25;
  border-radius: 50%;

  box-shadow: -240px 320px 0px -60px #0f766d25;
  -webkit-box-shadow: -240px 320px 0px -60px #0f766d25;
  -moz-box-shadow: -240px 320px 0px -60px #0f766d25;
}

/* .custom-principal-btn {
  position: relative;

  display: flex;
  justify-content: center;

  background-image: radial-gradient(ellipse 85% 100% at 50% 0%, rgba(15, 118, 110, 1) 45%, rgba(17, 94, 89, 1) 100%);
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.55);

  transition: all 0.15s;
}

.custom-principal-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 20px 1px rgba(15, 118, 110, 0.4);
  transition: all 0.3s;
} */

.custom-principal-btn {
  box-shadow: inset 0px -6px 12px 0px rgba(0, 0, 0, 0.6),
    inset 0px 6px 12px 0px rgba(255, 255, 255, 0.45),
    0px 3px 10px -1px rgba(0, 0, 0, 0.55);
  transition: all 0.15s;
}

.custom-principal-btn:hover {
  transform: scale(1.05);
  box-shadow: inset 0px -7px 12px 0px rgba(0, 0, 0, 0.65),
    inset 0px 7px 12px 0px rgba(255, 255, 255, 0.5),
    0px 4px 15px 1px rgba(15, 118, 110, 0.55);
  transition: all 0.3s;
}

.custom-principal-btn01 {
  box-shadow: inset 0px -6px 12px 0px rgba(0, 0, 0, 0.6),
    inset 0px 6px 12px 0px rgba(255, 255, 255, 0.45),
    0px 3px 10px -1px rgba(0, 0, 0, 0.55);
  transition: all 0.15s;
}

.custom-principal-btn01:hover {
  transform: scale(1.05);
  box-shadow: inset 0px -7px 12px 0px rgba(0, 0, 0, 0.65),
    inset 0px 7px 12px 0px rgba(255, 255, 255, 0.5),
    0px 4px 15px 1px rgba(0, 0, 0, 0.55);
  transition: all 0.3s;
}

.custom-arrow-hover {
  transition: all 0.15s;
}

.custom-arrow-hover:hover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.custom-arrow-hover-light {
  transition: all 0.15s;
}

.custom-arrow-hover-light:hover {
  background-color: rgba(215, 215, 215, 0.3);
  box-shadow: 0px 0px 11px 5px rgba(215, 215, 215, 0.4);
  transition: all 0.3s;
}

.custom-scale-svg-hover>svg {
  transition: all 0.15s;
}

.custom-scale-svg-hover:hover>svg {
  transform: scale(1.1);
  transition: all 0.3s;
}

.custom-scale-svg-hover>h4 {
  display: inline-block;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.15s;
}

.custom-scale-svg-hover:hover>h4 {
  transform: translate(-2px, -2px);
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
}

/* SOLO POSIBLE EN CHROME */
/* .custom-nav-bar-filter-effect {
  animation: filter-effect linear both;
  animation-timeline: scroll(root);
  animation-range: 0 100px;
}

@keyframes filter-effect {
  to {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
  }
} */

.slider {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider>article {
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.slider>div {
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.-z-1 {
  z-index: -1;
}

.custom-p-h {
  height: calc(100% - 4.35rem);
}

.custom-bubble-bg {
  background-color: rgb(196, 220, 221);
}

.custom-card-shadow {
  box-shadow: 2px 2px 0px 0px #0f172a;
  -webkit-box-shadow: 2px 2px 0px 0px #0f172a;
  -moz-box-shadow: 2px 2px 0px 0px #0f172a;
}

#titleOfertaEducativa::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--before-width-before-titleofertaeducativa, 0%);
  height: 100%;
  color: rgb(15 118 110 / 0.2);
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;
}

#titleOfertaEducativa::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--before-width-after-titleofertaeducativa, 0%);
  height: 100%;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0f172a;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;
}

#titleOferta::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--before-width-before-titleoferta, 0%);
  height: 100%;
  color: rgb(15 118 110 / 0.2);
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;
}

#titleOferta::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--before-width-after-titleoferta, 0%);
  height: 100%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0f172a;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;
}

#titleEducativa::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--before-width-before-titleeducativa, 0%);
  height: 100%;
  color: rgb(15 118 110 / 0.2);
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;
}

#titleEducativa::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--before-width-after-titleeducativa, 0%);
  height: 100%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0f172a;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.1s ease;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.custom-footer-inner-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100% + 120px);
  left: -60px;
  box-shadow: inset 0px -40px 40px 0px rgba(0, 0, 0, 0.5);
  background: transparent;
  z-index: 1;
}

/* TAMAÑO lg */
@media (min-width: 1024px) {
  .custom-lg-vh {
    height: 607px;
  }

  .pt-17 {
    padding-top: 4.25rem;
  }

  .w-2-5 {
    width: 40%;
  }

  .w-3-5 {
    width: 60%;
  }

  .w-192 {
    width: 48rem;
  }
}

/* MENOS DE lg */
@media (max-width: 1023px) {
  .custom-offset-mobile::before {
    content: '';
    display: block;
    height: 90px;
    margin-top: -90px;
  }

  .pt-23 {
    padding-top: 5.875rem;
  }
}